<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
   <!-- 
        Default LogLevel for Store front
    -->
   <logger  name="com.unilog" level="TRACE" />
   <!--  
        Spring Boot supported Log Level :: OFF, ERROR, WARN, INFO, DEBUG, TRACE 
    -->

   <property name="LOG_DIR" value="/var/persistent/codegen/codegenlog/" />
<!--   <property name="LOG_DIR" value="D:\logs" />-->
   <property name="LOG_LEVEL" value="WARN" />
   <property name="LOG_TYPE" value="CONSOLE" />
   <property name="FILE_APPENDER_TYPE" value="fileAppender" />
   
   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%.45thread] %-5level %logger{45}:%line :  %X{Tenant-Name:- } : %X{SiteId:- }: %X{userName:-} ] %msg%n</pattern>
      </encoder>
   </appender>
     <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>${LOG_DIR}/server.log</file>
            <!-- Define rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
           <!--  <fileNamePattern>C:\\logs\\storefront\\logs\\storefront-%d{yyyy-MM-dd}.%i.log</fileNamePattern>   -->
           <fileNamePattern>${LOG_DIR}/codegendev-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>200</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
           
        <encoder>
           <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%.45thread] %-5level %logger{45}:%line :  %X{Tenant-Name:- } : %X{SiteId:- }: %X{userName:-} ] %msg%n</pattern>
        </encoder>
    </appender>
   <root level="${LOG_LEVEL}">
      <appender-ref ref="${LOG_TYPE}" />
      <appender-ref ref="${FILE_APPENDER_TYPE}" />
   </root>
  
   <logger name="org.apache.coyote.http11" level="WARN" />
   <logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN" />
   <logger name="org.apache.coyote.http11.Http11Processor" level="WARN" />
   <logger name="org.apache" level="WARN" />
   <logger name="org.apache.catalina.core.ContainerBase" level="OFF" />  
</configuration>